@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body,html {
    font-family: 'Poppins', arial;
    overflow-x: hidden;
}


/*---navbar-start--*/



.headern{
    padding-top: 0%;
    padding-bottom: 0%;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(244, 227, 227, 0.5);
}
#chk1 {
    display: none;

}
i{
    color: rgb(242, 57, 214);
    cursor: pointer;
    
}

#lens{
    font-size: 20px;
}

.headern .logo {
    flex: 1;
    margin-left: 40px;
    
}
img {
    width: 40%;

}
.headern .search-box {
    flex: 0.7;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 30px;
    border: 0px;
    box-shadow: 0px 0px 35px #040404bc;
    outline: none;
    background: #fff;
    border-radius: 7px;
    color: black;
    font-size: 15px;
    text-align: center;
    

}

.search-box button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1);
    background: rgba(50, 208, 243, 0.345);

}
.headern .uln {
    flex: 2;
    display: flex;
    justify-content: space-evenly;

}

.headern .uln li {
    list-style: none;
}
.headern .uln li a {
    text-decoration: none;
    color: rgb(247, 50, 194);
    font-weight: 600px;
    padding: 10px 15px;
    
font-weight: bold;

}
.headern .uln li a:hover {
    border-bottom:  rgb(172, 71, 244);

}

.headern .menu {
    font-size: 2.5em;
    display: none;
}

/*---navbar-end--*/


/*--about--*/

#about {
    margin-top: 70px;
    text-align: center;
    font-size: 35px;
    color: red;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;

}



.about-main {
    width: 80%;
    margin: auto;
    display: flex;
}

.about-child {
    box-sizing: border-box;
    padding: 20px;
    
    padding-bottom: 0;
    margin: 14px;
    box-shadow: 0px 0px 35px #0a0a0a;
    border-radius: 5px;
    
}
.about-child p {
    color: dark black;
    font-family: calibri;

    font-size: 20px;
    padding-bottom: 15px;
    
    
}
.about-child p a {
    text-decoration: none;
}

.about-child p a:hover {
    color: crimson;
    font-size: 23px;
}

#code-laptop {
    width: 100%;
    margin-top: 14px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 35px #0a0a0a;
}

hr{
    width: 84%;
    height: 1px;
    margin: 10px;
    background-color: #000;
    margin-left: 8%;
    margin-right: 8%;
    
}

.about-main2 {
    
    width: 80%;
    margin: auto;
    display: flex;
}

.internet-para {
    box-sizing: border-box;
    margin: 15px;
    padding:15px;
    background-color: #f8faf520;
    
    margin-top: 14px;
    box-shadow: 0px 0px 35px #0a0a0a;
    border-radius: 5px;
   
}

.internet-para p {

color: dark black;
    font-family: calibri;
    
    font-size: 20px;

}


.internet-para p a {
    text-decoration: none;
}

.internet-para p a:hover {
    color: crimson;
    font-size: 23px;
}
.internet-parai {
    box-sizing: border-box;
    
    
    
    margin-top: 14px;
    
    border-radius: 5px;
    
   
}


#internet {
    width: 100%;
    
    
    border-radius: 5px;
    box-shadow: 0px 0px 35px #0a0a0a;
}

.kanpur {
    color: rgb(28, 38, 230);
    font-size: 16px;
}
.kanpur a {
    text-decoration: none;
    text-align: center;
}
.kanpur a p {
    color: #050505;
    text-align: center;
}
.kanpur a p:hover{
    font-size: 24px;
    color: #f92121;
}

.queries {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 22px;
    color: rgb(8, 8, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}
.head-mail {
    display: flex;

    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.mail {
    
    width: 100;
    
    box-sizing: border-box;
    text-align: center;
    margin: 15px;
    border-radius: 6px;
}

.mail a {
    
    text-decoration: none;
    display: flex; 
}

.mail a i {
    box-sizing: border-box;
    color: #f22c2c;
    font-size: 35px;
    padding-right: 2%;
    padding-top: 0;


}
.mail a p {
    padding-top: 5px;
    box-sizing: border-box;
    text-align: center;
}

.mail a:hover {
    border-radius: 7px;
    background: rgb(110, 244, 201);
    box-shadow: 0px 0px 35px #040404bc;     
}
.mail-1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    text-align: center;
    margin: 15px;
    
}

.ctn {
    
    width: 100px;
    padding: 7px;
     font-size: 16px;
    border: 2px solid rgb(231, 29, 29);
    border-radius: 6px;
    background: none;
    color: #341bf4;


    
    border-radius: 5px solid rgba(255, 0, 0, 0.829);
    text-align: center;

}
.ctn:hover {
    background: rgb(110, 244, 201);
    border: 1px solid rgb(118, 115, 115);
    color: red;
    font-weight: bold;
    box-shadow: 0px 0px 35px #757171da;
    transform: scale(1.2);
    cursor: pointer;

}


    





/*--footer--*/









@media (max-height:800px) {


    
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
    
}


.footer-distributed {
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    background-color: #f8f3ed;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 5px 50px 60px 50px;
    margin-top: 80px;
}
.footer-distributed:hover {
box-shadow: 0px 0px 35px #04040489;


}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

#footer-logo {
    width: 45%;
    
}

/* Footer links */

.footer-distributed .footer-links {
    color: #f44115;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
#stro-code4class {
    color: blue;
    cursor: pointer;

}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}


.footer-distributed .footer-center i {
    background-color: #fff;
    border: 1px solid rgb(226, 147, 238);
    color: #bc41e9;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #0935ad;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}
.footer-distributed .footer-center .center-hover:hover {
color: rgb(249, 30, 52);
box-shadow: 0px 0px 35px #040404bc;
font-size: 25px;
font-weight: bold;
transform: scale(1.2);
border-color:  rgb(249, 30, 52);
width: 75%;
border-radius: 7px;

}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #020202;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ec1a1a;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    border: 1px solid rgb(43, 41, 41);
    
    
    
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #fff;

    border-radius: 7px;
    font-size: 20px;
    color: #9b46f7;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    color: rgb(249, 30, 52);
    box-shadow: 0px 0px 35px #040404bc;
    font-size: 25px;
    font-weight: bold;
    transform: scale(1.2);
    border-color:  rgb(249, 30, 52);
}

.footer-links a:hover {
    color: #b43cfa;
    font-size: 25px;
    font-weight: bold;
    transform: scale(1);

}




@media (max-width: 880px) { 
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}


